@model List<Mobil>

<h1>Ini Controller Mobil</h1>

<hr />

@*<h1>@ViewBag.namaSaya</h1>
    <h1>@ViewData["nama"]</h1>*@

@*@foreach (var data in ViewBag.cari)
    {
        <h2>@data.id</h2>
        <h2>@data.Tipe</h2>
        <h2>@data.Merek</h2>
        <h2>@data.Varian</h2>
    }*@

@*<h1>@ViewBag.mobils.IDRegistrasi</h1>
    <h1>@ViewBag.mobils.Merk</h1>
    <h1>@ViewBag.mobils.Tipe</h1>
    <h1>@ViewBag.mobils.Varian</h1>*@

@*NO.1 dan NO.2 dan NO.4*@
@*@foreach (var data in ViewBag.mobils)
    {
        <h2>@data.IDRegistrasi</h2>
        <h2>@data.Tipe</h2>
        <h2>@data.Merek</h2>
        <h2>@data.Varian</h2>
    }*@

@*NO.3*@
@*<h1>@ViewBag.mobils.IDRegistrasi</h1>
<h1>@ViewBag.mobils.Merek</h1>
<h1>@ViewBag.mobils.Tipe</h1>
<h1>@ViewBag.mobils.Varian</h1>*@

@*NO.5*@
@*@for (int x = 0; x < 3; x++)
    {
        <h2>@Model[x].IDRegistrasi</h2>
        <h2>@Model[x].Tipe</h2>
        <h2>@Model[x].Merek</h2>
        <h2>@Model[x].Varian</h2>
    }*@
